body{
    font-family: Arial, Helvetica, sans-serif;
    color: #f7f1f1;
}

.container{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,56,182,1) 35%, rgba(0,212,255,1) 100%);
    width: 550px;
    height: 240px;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

.logo{
    width: 100px;
    height: 60px;
}

.logo-img{
    height: auto;
    max-width: 100%;
    display: inline-block;
}

.input-text{
    width: 40%;
    display: inline-block;
    margin-right:20px;
}

.btn-action{
box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #77a809 100%);
	background-color:#89c403;
	border-radius:6px;
	border:1px solid #74b807;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:3px 3px;
	text-decoration:none;
	text-shadow:0px 1px 0px #528009;
}

.btn-action:hover{
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#77a809;
}
.btn-action:active{
	position:relative;
	top:1px;
}

.btn-secondary{
    box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:3px 3px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;

}

.btn-secondary:hover{
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}

.btn-secondary:active{
    position:relative;
	top:1px;
}

.btn-erase{
    box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	background-color:#fc8d83;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:12px;
	font-weight:bold;
	padding:3px 3px;
	text-decoration:none;
	text-shadow:0px 1px 0px #b23e35;
}

.btn-erase:hover{
    background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	background-color:#e4685d;
}

.btn-erase:active{
    position:relative;
	top:1px;
}



input.clipboard{
    width: 180px;
    border: 0;
}

@media (max-width: 510px){
    .input-text{
        display: block;
    }

    .container{
        width: 300px;
        height: 400px;
    }

    .input-text{
        width: 95%;
        display: inline-block;
        margin-right:20px;
        margin-bottom: 20px;
    }
}

